<div>
    <h2>Add New Topic</h2>
    <form action="#" th:action="@{/topic/add}" th:object="${topic}" method="post">
        <label>Name:</label>
        <input type="text" th:field="*{topicName}" required><br>

        <label>Description:</label>
        <input type="text" th:field="*{topicDescription}" required><br>

        <label>Supervisor ID:</label>
        <input type="number" th:field="*{supervisorld}" required><br>

        <label>Type:</label>
        <input type="text" th:field="*{topicType}" required><br>

        <button type="submit">Save</button>
    </form>
</div>
