<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management System</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <h1>Management System</h1>
        <nav>
            <a th:href="@{/topic/list}">Topics</a>
            <a th:href="@{/topic/new}">Add Topic</a>
            <a th:href="@{/student/list}">Students</a>
            <a th:href="@{/student/new}">Add Student</a>
        </nav>
    </header>
    
    <main>
        <div th:replace="${content}"></div>
    </main>
</body>
</html>
