<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thông tin Topic</title>
</head>
<body>

    <!-- Fragment content -->
    <div th:fragment="content" class="student-info">
        <div class="info">
            <h2>TOPIC INFO</h2>
            <p>ID: <span th:text="${topic.id}"></span></p>
            <p>Name: <span th:text="${topic.topicName}"></span></p>
            <p>Description: <span th:text="${topic.topicDescription}"></span></p>
            <p>Supervisor ID: <span th:text="${topic.supervisorld}"></span></p>
            <p>Type: <span th:text="${topic.topicType}"></span></p>
        </div>
        <div class="avatar">
            <img th:src="@{/img/avt-exam.png}" alt="anhsv">
        </div>
    </div>

</body>
</html>

<style>
  .info p {
      color: #EFF474;
      font-weight: bold;
  }

  .info p span {
      color: white;
      font-weight: normal;
  }
</style>